* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: #1e90ff;
    --white: #FFFFFF;
}
.parent {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.item {
    background-color: rgb(228, 228, 228);
    background-color: var(--blue);
    padding: 20px;
    font-size: 0.77rem;
    line-height: 1.7;
}
/* .item .seven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 20px;
} */
.item:nth-child() {
    font-size: 1.1rem;
    grid-row: span 2;
    display: grid;
    align-content: center;
}
.item p {
    margin: 0;
}

/* CENTER TEXT EXAMPLE */
.example-banner {
    max-width: 900px;
    height: 300px;
    background-color: rgb(222, 222, 255);
    margin: 0 auto 20px auto;
    display: grid;
}
.center-me {
    margin: auto;
    color: rgb(113, 113, 175);
    font-size: 3rem;
}
/* CENTER TEXT EXAMPLE */

/* FULL-WIDTH HORIZONTAL CENTERING EXAMPLE */
.full-width-example {
    display: grid;
    grid-template-columns: minmax(auto, 900px);
    justify-content: center;
    background-color: rgb(255, 211, 130);
    color: rgb(112, 86, 38);
    line-height: 1.7;
    padding: 20px;
}
/* FULL-WIDTH HORIZONTAL CENTERING EXAMPLE */

/* TEXT OVER IMAGE EXAMPLE */
.photo-example {
    display: grid;
    max-width: 700px;
    margin: 20px auto;
}
.photo-example img {
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    display: block;
}
.overlay-text {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 20px;
    font-size: 0.85rem;
    line-height: 1.7;
}

/* TEXT OVER IMAGE EXAMPLE */
